@font-face {
  font-family: "PTsans";
  src: url('../fonts/ptsans.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
} 

@font-face {
  font-family: "PTsans";
  src: url('../fonts/ptsansbold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
} 
