.individual__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px; }

.individual__wrapper-hidden {
  display: none; }

.individual__title {
  margin-bottom: 20px; }

.individual__select {
  margin-bottom: 20px; }
