.name-input__wrapper {
  display: flex;
  margin-bottom: 30px; }
  .name-input__wrapper-hidden {
    display: none; }

.name-input {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.name-input__title-wrapper {
  display: inline-block; }

.name-validate {
  border-color: green; }

.input__title {
  display: inline-block;
  margin-right: 20px; }
  .input__title-hidden {
    display: none; }
